
<nav class="header">
    <div class="button" style="color: #ccc; cursor: default; ">Cloud Identity Agent</div>
    <a class="button {{#ifCond url "==" "/"}}selected{{/ifCond}}" href="/" >
        HOME
    </a>

    <a class="button {{#ifCond url "==" "/entities"}}selected{{/ifCond}}" href="/static/entities">
        ENTITIES
    </a>

</nav>
