
<nav class="header">
    <a class="button {{#ifCond url "==" "/"}}selected{{/ifCond}}" href="/" >
        HOME
    </a>

    <a class="button {{#ifCond url "==" "/entities"}}selected{{/ifCond}}" href="/static/entities">
        ENTITIES
    </a>

</nav>
